/* section.main{
	margin-bottom: 30px;
}

.logo > img{
	height:auto;
	padding-left: 10px;
}

.icon-img{
	max-width: 100%;
}

header{
	margin-top: 70px;
}

.contact-way{
	max-width:80%;
	margin:auto;
	overflow: hidden;
}

.contact-way > div{
	margin-left:20px;
	max-width:50%;
	float:right
}

.contact-img{
	margin-right:50px;
}

.contact-btn{
	margin-top: 20px;
}

.jihua-img{
	height: auto;
	max-height: 200px;
	max-width: 200px;
	
} */